{{ template "common/Brewfile/tap.tmpl" -}}
{{- if eq .class "work" -}}
    {{- template "work/Brewfile/tap.tmpl" . -}}
{{- else if eq .class "personal" -}}
    {{- template "personal/Brewfile/tap.tmpl" . -}}
{{- end -}}
{{ print "\n" }}
{{ template "common/Brewfile/brew.tmpl" -}}
{{- if eq .class "work" -}}
    {{- template "work/Brewfile/brew.tmpl" . -}}
{{- else if eq .class "personal" -}}
    {{- template "personal/Brewfile/brew.tmpl" . -}}
{{- end -}}
{{ print "\n" }}
{{ template "common/Brewfile/cask.tmpl" }}
{{- printf "\n" -}}
{{- if eq .class "work" -}}
    {{- template "work/Brewfile/cask.tmpl" . -}}
{{- else if eq .class "personal" -}}
    {{- template "personal/Brewfile/cask.tmpl" . -}}
{{- end -}}
