### Begin zplug ###
source $HOME/.zplug/init.zsh

zplug "plugins/git", from:oh-my-zsh
{{- printf "\n" -}}
{{- if eq .class "work" -}}
    {{- template "work/zshrc_zplug.tmpl" . -}}
{{- else if eq .class "personal" -}}
    {{- template "personal/zshrc_zplug.tmpl" . -}}
{{- end -}}
{{ printf "\n" -}}
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then echo; zplug install; fi
fi

# Then, source plugins and add commands to $PATH
zplug load --verbose

### End zplug ###
