### Set XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_STATE_HOME=$HOME/.local/state

### Set Brewfile
export HOMEBREW_BUNDLE_FILE=$XDG_CONFIG_HOME/brewfile/Brewfile

export $PATH=$PATH:/opt/homebrew/bin

{{ template "zshrc/zplug.tmpl" . }}
