### Set XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_STATE_HOME=$HOME/.local/state

### Set Brewfile
export HOMEBREW_BUNDLE_FILE=$XDG_CONFIG_HOME/brewfile/Brewfile

export FZF_BASE=/opt/homebrew/bin
export PATH=/opt/homebrew/bin:$PATH

# The following lines were added by compinstall
zstyle :compinstall filename '/Users/ali/.config/zsh/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

{{ if eq .class "work" }}
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"
{{ end }}

export _ZO_DATA_DIR=$XDG_DATA_HOME

eval "$(zoxide init zsh)"
eval "$(sheldon source)"
