brew        "aws-cdk"
brew        "aws-sso-util"
brew        "shellcheck"
brew        "tenv"
brew        "tmuxinator"
brew        "tpm"
brew        "granted"
brew "action-docs" # Generate docs for GitHub actions
brew "yq"
brew "sketchybar"
brew "codeowners-validator"
brew "gh"
brew "infracost"
brew "kuzco"
brew "terraform-docs"
brew "go"
brew "tflint"
brew "trivy"
brew "zizmor"
brew "tree"