brew "ansible" # Automate deployment, configuration, and upgrading
brew "ansible-lint" # Checks ansible playbooks for practices and behaviour
brew "chezmoi" # Manage your dotfiles across multiple diverse machines, securely
brew "just" # Handy way to save and run project-specific commands
brew "mas" # Mac App Store command-line interface
brew "pre-commit" # Framework for managing multi-language pre-commit hooks
brew "git-delta" # Syntax-highlighting pager for git and diff output
brew "coreutils" # GNU File, Shell, and Text utilities
brew "grep" # GNU grep, egrep and fgrep
brew "python3" # Interpreted, interactive, object-oriented programming language
brew "xdg-ninja" # Check your $HOME for unwanted files and directories
brew "yamllint" # Linter for YAML files
brew "gnu-sed" # GNU implementation of the famous stream editor
