cask "1password" # Password manager that keeps all passwords secure behind one password
cask "arc" # Chromium based browser
cask "font-jetbrains-mono-nerd-font" # JetBrainsMono Nerd Font families (JetBrains Mono)
cask "proton-pass" # Desktop client for Proton Pass
cask "raspberry-pi-imager" # Imaging utility to install operating systems to a microSD card
cask "raycast" # Control your tools with a few keystrokes
cask "setapp" # Collection of apps available by subscription
cask "tailscale" # Mesh VPN based on WireGuard
cask "iterm2"
cask "orbstack" # Replacement for Docker Desktop
cask "1password-cli" # Command-line interface for 1Password
cask "keymapp" # ZSA keyboard firmware flasher
cask "yubico-authenticator" # Application for generating TOTP and HOTP codes
cask "istherenet" # Your internet connection status at a glance
cask "jetbrains-toolbox" # JetBrains tools manager
cask "discord"
cask "zed"
