{{ if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:/usr/local/bin:$PATH"
{{ else if eq .chezmoi.os "linux" }}
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/usr/local/bin:$PATH"
{{ end }}

autoload -Uz compinit
compinit

source $XDG_CONFIG_HOME/zsh/plugins/sheldon
source $XDG_CONFIG_HOME/zsh/plugins/oh-my-posh
source $XDG_CONFIG_HOME/zsh/plugins/history

{{ if eq .class "Work" -}}
export PATH="$PATH:/Users/ali.tayarani/.local/bin"
export PATH="$PATH:/Users/alitayarani/.rbenv/shims:/Users/alitayarani/Library/Python/3.9/bin:/Users/alitayarani/go/bin:/bin:/sbin:/usr/local/MacGPG2/bin:/usr/local/bin:/usr/local/go/bin:/usr/sbin:/usr/bin"
export AWS_SHARED_CREDENTIALS_FILE="$XDG_CONFIG_HOME"/aws/credentials
export AWS_CONFIG_FILE="$XDG_CONFIG_HOME"/aws/config
{{ end -}}

{{- if eq .class "Personal" -}}
export ORGANIZE_CONFIG=$HOME/.config/organize.yaml
{{ end -}}

export GOPATH=$HOME/go
export PATH=./Library/Python/3.8/bin:$PATH
export PATH=$PATH:$GOPATH/bin

source $HOME/.config/zsh/.zshenv
